@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #426A5A;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
  p {
    text-align: left;
    color: whitesmoke;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}

.skills {
  background-color: bisque;
  margin: 100px auto;
  max-width: 970px; min-height: 250px;
}

.info_box{
  width: 33.3%; min-height: 250px;
  float:left;
}

.info_box:nth-child(1) {background-color: green;}
.info_box:nth-child(1) {background-color: blue;}
.info_box:nth-child(1) {background-color: red;}
