@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #426A5A;
}

  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }

  p {
    text-align: left;
    color: whitesmoke;
  }

  img {
    max-width: 100%;
    max-height:100%;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }
  
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}

.logo{
    cursor: pointer;

}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:rgba(0, 136, 169,1)
}

.button {
padding: 9px 25px;
background-color: rgba(0, 136, 169,1)
border:none;
border-radius:50px;
cursor: pointer;
transition:all 0.3s ease 0s;
}

button:hover{
    background-color:rgba(0, 136, 169,0.8)
}

.skills {
  background-color: bisque;
  margin: 100px auto;
  max-width: 970px; min-height: 250px;
}

.info_box{
  width: 33.3%; min-height: 250px;
  float:left;
}

.info_box:nth-child(1) {background-color: green;}
.info_box:nth-child(1) {background-color: blue;}
.info_box:nth-child(1) {background-color: red;}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: black;
    text-align: center;
    background-color: green;
    }
  
  .footer div {
    text-align: center;
  }

